[submodule "getExonsFromUcsc"]
	path = getExonsFromUcsc
	url = https://github.com/gantzgraf/getExonsFromUcsc.git
[submodule "genomeUtils"]
	path = genomeUtils
	url = https://github.com/gantzgraf/genomeUtils
